@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');
body{
    background-color: black;
    color: white;
}
.main {
    background-image: url("assets/img/bg.jpg");
    height: 95vh;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    background-position: center center;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Martel Sans', sans-serif;
}

.main .box {
    height: 95vh;
    width: 100%;
    opacity: 0.66;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    max-width: 80vw;
    height: 62px;
}

nav img {
    color: red;
    width: 114px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: 'Martel Sans', sans-serif;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
}

.hero> :first-child,
.hero> :nth-child(2) {
    font-size: 56px;
    font-weight: 900;
    line-height: 70px;
}

.hero> :nth-child(3) {
    font-size: 20px;
    font-weight: bold;
}

.hero> :nth-child(4) {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.line{
    background-color: rgb(255, 0, 0);
    height: 3px;
}

.but-red-up{
    background-color: red;
    color: white;
    font-size: 14px;
    padding: 3px 24px;
    border-radius: 4px;
}
.but-red{
    background-color: red;
    color: white;
    font-size: 20px;
    padding: 3px 24px;
    border-radius: 4px;
}
.main input{
     font-size: 20px;
    padding: 3px 24px;
    border-radius: 4px;
    background-color: rgba(23,23, 23, 0.2);
}
.container{
    height: 500px;
    max-width: 1250px;
    width: 100%;
    margin-left: 10vw;
    margin-right: 10vw;

  
}
.section-title{
    font-family: 'Martel Sans', sans-serif;
    font-size: 24px;
    font-weight:bold;
    color: white;
    margin-bottom: 25px;
}
.slider{
    display: flex;
    gap:20px;
     overflow-x: auto;
    /* scroll-snap-type: x mandatory; */
    scrollbar-width: none;
}
.card{
    position: relative;
    width: 185px;
    height: 300px;
    border-radius: 8px;
    padding: 15px 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card img{
    border-radius: 8px;
    object-fit: cover;
}
.card:hover{
    transform:scale(1.1);
    z-index:10;
    box-shadow: 0px 0px 10px 20px rgba(255, 255, 255, 0.2);
}
.number{
    position:absolute;
    bottom: 15px;
    left: -15px;
    font-size: 75px;
    color: black;
    -webkit-text-stroke: 2px white;

}
.container2{
    height: 500px;
    max-width: 1250px;
    width: 100%;
    margin-left: 10vw;
    margin-right: 10vw;
    border: 1px solid white;
  
}
.card2{
    border: 1px solid white;
    height: 325px;
    width: 40vw;
    flex: 10px 10px 10px 10px;
    border-radius: 20px;
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background : linear-gradient(180deg,#1e1e3f 50%,#220222 100%);
}
.card2 h3{
    font-size: 16px;
    font-weight: 400;
}
.card2 p{
    font-size: 14px;
    font-weight: 300;
}
.section{
    display: flex;
    gap: 20px;
    height: 300px;
    width: 70vw;
}
.simg{
    position: relative;
    left: 100px;
    top:20px
}