.main{
    background-image: url("assets/img/bg.jpg");
    height: 80vh;
    background-size: max(1600px, 100vh);
    background-repeat: no-repeat;
    background-position: center center;
}
*{
    margin: 0;
    padding: 0;
}
.main .box{
    height: 80vh;
    width: 100%;
    opacity: 0.44;
    background-color: black;
    position: absolute;
    top: 0;
}
nav{
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    max-width: 80vw;
;
}